{% extends 'base.html'%}

{% block title %} Singup {% endblock %}

{% blockcontent %}
<div class="login_form_inner">
    <h3>Sing up</h3>
    <form class="row login_form" action="" method="post" id="contactForm" >
        {% csrf_token %}
        <div class="col-md-12 form-group">
            {{form.as_p}}
        </div>

        <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="button button-login w-100">Sing up</button>
        </div>
    </form>
</div>
{% endblock %}